* {
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: red;
}

a.navbar-brand {
    font-size: x-large;
}

button.btn {
    color: white;
    border-color: white;
}
button.btn:hover{
    color: black;
    background-color: white;
}