* {
    padding: 0;
    margin: 0;
}
/* CLASES HEADER */
.navbar {
    background-color: red;
}

a.navbar-brand {
    font-size: x-large;
}

button.btn {
    color: white;
    border-color: white;
}
button.btn:hover{
    color: black;
    background-color: white;
}
/* CLASES MEDIOS DE PAGO */
.col-4{
    text-align: center;
}
.titulopagos{
    text-decoration: underline;
    font-size: x-large;
    font-weight: bold;
}
li{
    list-style: none;
}